<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>로그인</title>
</head>
<body>
    <form action="login" method="post">
        아이디 : <input type="text" name="userid"><br>
        비밀번호 : <input type="password" name="userpw"><br>
              <br>
        <input type="submit" value="회원가입하기">
    </form>
</body>
</html>